@use './../../Style/variable' as *
    
.coluna 
    display: flex
    flex-direction: column
    background-color: $background
    border-radius: 0.4rem
    box-shadow: 0 0 10px 4px rgb(212, 212, 212)
    flex: 1 1 320px // pode deixar grande? pode deixar pequeno? tamanho
    gap: 10px
    min-height: 400px
    padding: 1rem
    width: 20vw

    h3
        text-align: center

@media (max-width: 1000px)
    .coluna
        width: 90vw